@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Dancing Script', cursive;
}


a{
    text-decoration: none;
    color: #ffffff;
}

section{
    max-width: 1200px;
    margin: 0 auto;
}


.title{
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
    margin-top: 100px;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    display: block;
    width: 500px;
    padding: 17px 20px;
    background-color: #ffffff;
    border-right: 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    color: #4b4b4b;
    border: 1px solid #DADADA;
    border-radius: 8px;
}

input:focus{
    outline: none;
}


.password{
    margin-top: 16px;
}

.btn_reg1vh{
    display: flex;
    justify-content: space-between;
}

.btn_reg1vh{
    margin-top: 27px;
    align-items: center;
}

.reg a{
    text-decoration: none;
    color: #ffffff;
}

.btn_entrance{
    background: linear-gradient(272.88deg, #686DE0 4.95%, #4834D4 93.62%);
    box-shadow: 0px 4px 20px rgba(104, 109, 224, 0.5);
    border-radius: 10px;
    padding: 13px 65px;
    color: #ffffff;
    cursor: pointer;
}

.store{
    margin-top: 47px;
}

.app_store{
    margin-left: 25px;
}




.hu__hu__ { animation: hu__hu__ infinite 5s ease-in-out }
@keyframes hu__hu__ {
    50% { transform: translateY(30px) }
}


@media screen and (max-width:1188px) {
    section{
        max-width: 1000px;
    }

    .cssanimation{
        width: 450px;
    }
}


@media screen and (max-width:960px){
    section{
        max-width: 835px;
    }

    .cssanimation{
        width: 360px;
    }

    input{
        width: 450px;
        padding: 17px 20px;
    }

    .title{
        font-size: 30px;
    }
     

    .google_play img{
        width: 150px;
    }
    

    .app_store img{
        width: 140px;
    }
}

@media screen and (max-width:480px){
    
    section{
        padding: 16px 16px;
    }

    .cssanimation{
        display: none;
    }

    input{
        width: 100%;
        padding: 10px 15px;
        font-size: 14px;
    }

    .title{
        font-size: 27px;
        text-align: center;
    }

    .reg a{
        font-size: 16px;
    }


    .btn_entrance{
        padding: 13px 55px;
    }

    .google_play img{
        width: 130px;
    }
    

    .app_store img{
        width: 130px;
    }

    .store{
        text-align: center;
    }

    .btn_entrance{
        padding: 12px 45px;
    }
}
