@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}


.main{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    
}

.title{
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
}

.email input{
    border: 1px solid #B3B3B3;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    color: #ACACAC;
    padding: 18px 20px;
    width: 500px;
    margin-top: 20px;
    outline: none;
    
}

.prg{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}


.btn_cont{
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}

.btn_further a{
    background: #3182EC;
    box-shadow: 0px 0px 5px #0085FF;
    border-radius: 10px;
    padding: 13px 69px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 36px;
    position: absolute;
}



.btn_further a:hover{
    background-color: #0052be;
    box-shadow: 0px 0px 5px #0052be;
    transition: .3s;
}

.email input, .password input:focus{
    color: rgb(35, 29, 29);
}



@media screen and (max-width:768px) {
    .main{
        flex-wrap: wrap-reverse;
    }

    .right{
        margin: 0 auto;
    }

    .left{
        margin: 0 auto;
        margin-top: 26px;
    }

    .btn{
        padding: 17px 175px;
    }

    .right img{
        width: 400px;
    }

    .btn_further a{
        margin-top: 45px;
        position: absolute;
        padding: 17px 275px;
        text-align: center;
        box-shadow: none;
    }

    .prg {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    }

    .title{
        text-align: center;
    }

    .email input {
        border: 1px solid #B3B3B3;
        border-radius: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 19px;
        color: #ACACAC;
        padding: 18px 20px;
        width: 555px;
        margin-top: 20px;
        outline: none;
    }
}


@media screen and (max-width:480px) {
    .main{
       padding: 24px 24px;
    }

    .right img{
       display: none;
    }

    .title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }

    .prg{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 12px;
        text-align: center;
        margin-top: 21px;
    }

    .email input, .password input{
        background: #F3F3F3;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        width: 320px;
    }

    .btn_further a {
        padding: 17px 156px;
    }


}



@media screen and (max-width:390px) {
    .main{
        padding: 24px 24px;
    }

    .right img{
        margin: 0 auto;
        width: 300px;
    }

    .left{
        margin: 0 auto;
    }

    .email input, .password input{
        background: #F3F3F3;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        width: 300px;
    }

    .btn_further a {
        padding: 17px 147px;
    }

    .prg{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        margin-top: 21px;
    }

    .title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }
}

@media screen and (max-width:380px) {
    .email input, .password input{
        background: #F3F3F3;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        width: 287px;
    }

    .btn_further a {
        padding: 17px 140px;
    }

    .prg{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        margin-top: 21px;
    }

    .title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }
}

@media screen and (max-width:360px) {
    .email input, .password input{
        background: #F3F3F3;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        width: 270px;
    }

    .btn_further a {
        padding: 17px 130px;
    }

    .prg{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        margin-top: 21px;
    }

    .title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        text-align: center;
    }
}

@media screen and (max-width:320px) {
    .email input, .password input{
        background: #F3F3F3;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        width: 230px;
    }

    .btn_further a {
      padding: 17px 112px;
    }

    .prg{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        margin-top: 21px;
    }

    .title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 36px;
        text-align: center;
    }
}